h2{
    margin: 0 auto;
    width: 50px;
    
}

.googlemap{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
}
.train{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
.toschool{
     width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
