body{
    background-image: url(back3.png);
    overflow-x: hidden;
    margin: 1px;
}

#title {
    overflow: hidden;
    background-color: white;
}

.a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#label{
    font-size: 60px;
}


main{
    width: 970px;
    background: url(back1.jpg);
    padding: 20px;
}

h2{
    margin: 0 auto;
    
}

.googlemap{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.train{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
.toschool{
     width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
