body{
    background-image: url(back3.png);
    overflow-x: hidden;
    margin: 1px;
}
#title {
    overflow: hidden;
    background-color: white;
}

.a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#main{
    background-color: #d4fcbc;
    padding: 20px;
}

#main h1{
  margin-left: 20px;
}
.update{
  margin-left: 20px
}

.day{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid forestgreen;
}
.day h2{
  margin-left: 5px;
}
.day p{
  margin-left: 5px;
}

.club{
    float: right;
    margin-top:10px;
    width:600px;
}



.day img{
  margin-left: 5px;
  margin-left: 3px;
  margin-top: 10px;
}

.pic1{
   margin-right: 10px; 
}



