body{
    background-image: url(back3.png);
    overflow-x: hidden;
    margin: 1px;
}

main{
    width: 970px;
    background: url(back1.jpg);
    padding: 20px;
}

.food{
    width: 750px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    border: 1px solid #000000;
    }

.food img{
    float: right;
}
.food .comment {
    width: 600px;
    height: 100px;
    
}

.food h2{
    text-align: center;
}

.food p.memo{
    font-size: 20px;
    text-align: center;
}

.menu h3{
    text-align: center;
}
.menu p{
    margin-left: 160px;
}
.menu ul{
    margin-left: 178px;

}
.menu .name2{
    margin-left: 100px;
}
#menu h3{
    text-align: center;
}
#menu1{
    float:left;
    margin-left: 110px;
}
#menu1 ul{
    margin-left: 16px
}
#menu2 {
    float: right;
    margin-right: 70px;
}
#menu2 ul{
    margin-left: 16px;
}
#am h4{
    text-align: center;
}
#am ul{
    margin-left: 100px;
}
#pm{
    margin-top: 10px
}
#pm h4{
    text-align: center;
}
#pm ul{
    margin-left: 100px;
}

















    