
.food{
    width: 960px;
    height: 300px;
    margin: auto;
    margin-left: 25px;
    margin-top: 25px;
}
main{
    width: 970px;
    background: url(back1.jpg);
    padding: 20px;
}

.food{
    width: 750px;
    height: 300px;
    margin-left: 5px;
    margin-top: 15px;

    border: 1px solid #000000;
    
}

.food img{
    float: right;
}
.food .comment {
    width: 600px;
    height: 100px;
    
}

.food h2{
    text-align: center;
}

.food p.memo{
    font-size: 20px;
    text-align: center;
}

.menu h3{
    text-align: center;
}
.menu p{
    margin-left: 160px;
}
.menu ul{
    margin-left: 178px;

}
.menu .name2{
    margin-left: 100px;
}



    