
.club {
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;

}

<<<<<<< HEAD

=======
.club .caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    display: none;
}

.club:hover .caption{
    display: block;
}
>>>>>>> bf93858c64e00c8c92bbae0a238fd2e1d1d3f488



