<<<<<<< HEAD
.schedule img{
    margin: 0 auto;
    display: block;

}

.schedule{
    margin-top: 25px;
}
=======
main{
    width: 970px;
    background: url(back1.jpg);
    padding: 20px;
}
>>>>>>> e5c04db0487d8751334d6b23b8ff894033b7b77f
